<div class="cuisines-container">
  <div class="cuisines-header">
    <h2 class="text-white text-bold">
      DÉVOILEZ
      <span class="italic-text" style="font-weight: 500">le style</span>
      DE VOTRE CUISINE
    </h2>
    <p class="text-white">
      Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quisquam non
      velit possimus, placeat minus, praesentium labore quos in ex nihil eos ad
      ipsam consectetur odio assumenda accusamus unde vel minima.
    </p>
  </div>

  <div class="cuisines-content">
    <div class="cuisines-content-item">
      <div class="cuisines-content-item-image">
        <img
          src="/Alpha/NK9536_Alpha_Lack_551___WeiSZ_Hochglanz.jpg"
          alt="Alpha Cuisine Style"
          loading="lazy"
        />
        <span class="cuisines-content-item-title">Alpha</span>
        <button class="nolte-button">
          <span>Voir</span>
        </button>
      </div>
    </div>
    <div class="cuisines-content-item">
      <div class="cuisines-content-item-image">
        <img
          src="/Artline/NK30208_ARTLINE___Stripe_Wood_Coffee___PLUS___Lava.jpg"
          alt="Artline Cuisine Style"
          loading="lazy"
        />
        <span class="cuisines-content-item-title">Artline</span>
        <button class="nolte-button">
          <span>Voir</span>
        </button>
      </div>
    </div>
    <div class="cuisines-content-item">
      <div class="cuisines-content-item-image">
        <img
          src="/Ferro/NK22294_FERRO___Cortenstahl___NOVA_LACK___WeiSZ_HG.jpg"
          alt="Ferro Cuisine Style"
          loading="lazy"
        />
        <span class="cuisines-content-item-title">Ferro</span>
        <button class="nolte-button">
          <span>Voir</span>
        </button>
      </div>
    </div>
    <div class="cuisines-content-item">
      <div class="cuisines-content-item-image">
        <img
          src="/Avocado/NK23807_WINDSOR_LACK___WeiSZ___Avocado.jpg"
          alt="Avocado Cuisine Style"
          loading="lazy"
        />
        <span class="cuisines-content-item-title">Avocado</span>
        <button class="nolte-button">
          <span>Voir</span>
        </button>
      </div>
    </div>
  </div>
  <div class="cuisines-footer">
    <button class="ghost-button">
      <span>Voir toutes les cuisines</span>
    </button>
  </div>
</div>
