<div class="inspiration-container">
  <h2 class="italic-text">
    <span class="text-bold roman-text uppercase">Trouvez</span>
    l'inspiration
  </h2>

  <div class="slider-container">
    <div class="slider">
      <div class="slide">
        <img
          src="/NK28519_neo_MARBLE___Marmor_Schwarz___neo_LODGE.jpg"
          alt="Inspiration 1"
          loading="lazy"
        />
      </div>
      <div class="slide">
        <img
          src="/NK28519_neo_MARBLE___Marmor_Schwarz___neo_LODGE.jpg"
          alt="Inspiration 2"
          loading="lazy"
        />
      </div>
      <div class="slide">
        <img
          src="/NK28519_neo_MARBLE___Marmor_Schwarz___neo_LODGE.jpg"
          alt="Inspiration 3"
          loading="lazy"
        />
      </div>
      <div class="slide">
        <img
          src="/NK28519_neo_MARBLE___Marmor_Schwarz___neo_LODGE.jpg"
          alt="Inspiration 4"
          loading="lazy"
        />
      </div>
    </div>
    <input type="range" min="0" max="100" value="0" class="slider-scroll" />
  </div>
</div>
