<header class="header">
  <nav class="nav">
    <div class="logo">
      <a href="/"><img src="/Logo Nolte_MIN.png" alt="Nolte" /></a>
    </div>

    <button class="nav-toggle" aria-label="toggle navigation">
      <span class="hamburger"></span>
    </button>

    <ul class="nav-list">
      <button class="nav-close" aria-label="close navigation">
        <span class="close-icon">&times;</span>
      </button>
      <li class="nav-item">
        <a href="#home" class="nav-link">Nos cuisines</a>
      </li>
      <li class="nav-item">
        <a href="#about" class="nav-link">Inspiration</a>
      </li>
      <li class="nav-item">
        <a href="#services" class="nav-link">Nos Magasins</a>
      </li>
      <li class="nav-item">
        <a href="#contact" class="nav-link">Cote Pro </a>
      </li>
      <div class="nav-social">
        <a href="#facebook" class="nav-link">Facebook</a>
        <a href="#instagram" class="nav-link">Instagram</a>
        <a href="#twitter" class="nav-link">Twitter</a>
      </div>

      <div class="nav-cta">
        <a href="#cta" class="nav-link">Demande de brochure</a>
        <a href="#cta" class="nav-link">Prendre RDV</a>
      </div>
    </ul>
  </nav>
  <div class="header-content">
    <span class="header-content-title">Nos Magasins</span>
    <span class="header-content-subtitle">Prendre RDV</span>
    <span class="header-content-subtitle">Brochure</span>
  </div>
</header>
